body{
    margin: 0;
    padding: 0;
    width: 100%;
}
p{
    font-family: 'Quando', serif;
    text-indent: 50px;
    color: rgba(72, 72, 72, 1);
    letter-spacing: 2px;
    line-height: 150%;
    font-size: 24px;
}
.panelwrap{
    width: 1000px;
    height: 3490px;
    position: absolute;
    top: 0;
    left: 10.4117181314331%;
    background-color: rgba(196, 196, 196, 1);
    -webkit-transition: top 15s ease-out;
    -moz-transition: top 15s ease-out;
    -ms-transition: top 15s ease-out;
    -o-transition: top 15s ease-out;
    transition: top 15s ease-out;
}
input.switchers{
    position: absolute;
    left: -9999px;
}
label{
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    left: 605px;
    cursor: pointer;
    z-index: 6;
    -webkit-transition: top 16s ease-out;
    -moz-transition: top 16s ease-out;
    -ms-transition: top 16s ease-out;
    -o-transition: top 16s ease-out;
    transition: top 16s ease-out;
}
#switchdown + label{
    border-top: 40px solid rgba(64, 64 , 64, 1);
    top: 230px;
}
#switchup  + label{
    border-bottom: 40px solid rgba(64, 64 , 64, 1);
    top: 2760px;
}
/*----------------------------------semicircle panel-------------------------------------*/
.panel{
    width: 100%;
    height: 8.595988538681948%;/*300/3490*/
    position: relative;
    background-color: rgba(48, 48, 48, 1);
    overflow: hidden;
}
.panel:before{
    width: 29%;/*290/1000*/
    height: 20%;/*60/300*/
    background-color: rgba(196, 196, 196, 1);
    content: "";
    position: absolute;
    top: 77%;/*231/300*/
    left: 35.5%;/*355/1000*/
    z-index: 1;
    box-shadow: 0 0 10px 1px rgba(88,88,88, 0.5);
}
.panel:after{
    width: 100%;
    height: 23.33333333333333%;/*70/300*/
    background-color: rgba(196, 196, 196, 1);
    content: "";
    position: absolute;
    top: 76.66666666666667%;/*230/300*/
    content: "";
    z-index: 3;
}
ul{
    width: 30%;/*300/1000*/
    height: 100%;/*300/300*/
    border-radius: 50%;
    background-color: rgba(196, 196, 196, 1);
    position: relative;
    left: 35%;/*350/1000*/
    top: 33.33333333333333%;/*100/300*/
    overflow: hidden;
    box-shadow: 0 0 0 1px rgba(128, 128, 128, 1);
    margin: 0;
    padding: 0;
}
ul:before{
    width: 100%;/*300/300*/
    height: 100%;/*300/300*/
    border-radius: 50%;
    background-color: rgba(96, 96, 96, 0.6);
    content: "";
    position: absolute;
}

ul:after{
    width: 50%;/*150/300*/
    height: 50%;/*150/300*/
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: rgba(196, 196, 196, 1);
    content: "";
    position: absolute;
    left: 25%;/*75/300*/
    top: 20%;/*60/300*/
    box-shadow: 0 0 5px 2px rgba(88,88,88, 0.5);
    z-index: 2;
    overflow: hidden;
}
li{
    list-style: none;
    color: rgba(24, 24, 24, 0.8);
    width: 56.66666666666667%;/*170/300*/
    height: 66.66666666666667%;/*200/300*/
    background-color: rgba(196, 196, 196, 0.9);
    position: absolute;
    left: -6.666666666666667%;/*-20/300*/
    top: -15.66666666666667%;/*-47/300*/
    -webkit-transform-origin: 100% 100%;
    -moz-transform: 100% 100%;
    -ms-transform: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    box-shadow: inset 0 0 0 1px rgba(96, 96, 96, 0.5);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
li:hover{
    color: rgba(24, 24, 24, 0.9);
    background-color: rgba(196, 196, 196, 0.6);
    box-shadow: inset 0 0 10px 3px rgba(96, 96, 96, 0.8);
    cursor: pointer;
}
li:focus{
    color: red;
    outline: none;
   }
li:nth-child(1){
    transform:          rotate(-41deg) skewY(50deg);
    -webkit-transform:  rotate(-41deg) skewY(50deg);
    -moz-transform:     rotate(-41deg) skewY(50deg);
    -ms-transform:      rotate(-41deg) skewY(50deg);
    -o-transform:       rotate(-41deg) skewY(50deg);
}
li:nth-child(2){
    transform:          rotate(0deg) skewY(50deg);
    -webkit-transform:  rotate(0deg) skewY(50deg);
    -moz-transform:     rotate(0deg) skewY(50deg);
    -ms-transform:      rotate(0deg) skewY(50deg);
    -o-transform:       rotate(0deg) skewY(50deg);
}
li:nth-child(3){
    transform:          rotate(41deg) skewY(50deg);
    -webkit-transform:  rotate(41deg) skewY(50deg);
    -moz-transform:     rotate(41deg) skewY(50deg);
    -ms-transform:      rotate(41deg) skewY(50deg);
    -o-transform:       rotate(41deg) skewY(50deg);
}
li:nth-child(4){
    transform:          rotate(82deg) skewY(50deg);
    -webkit-transform:  rotate(82deg) skewY(50deg);
    -moz-transform:     rotate(82deg) skewY(50deg);
    -ms-transform:      rotate(82deg) skewY(50deg);
    -o-transform:       rotate(82deg) skewY(50deg);
}
a{
    color: inherit;
    font-size: 3.375em;/*54/16*/
    position: absolute;
    text-decoration: none;
    top: 52.5%;/*105/200*/
}
li:nth-child(1) > a{
    transform:          skewY(-50deg) rotate(-30deg);
    -webkit-transform:  skewY(-50deg) rotate(-30deg);
    -moz-transform:     skewY(-50deg) rotate(-30deg);
    -ms-transform:      skewY(-50deg) rotate(-30deg);
    -o-transform:       skewY(-50deg) rotate(-30deg);
    left: 67.64705882352941%;/*115/170*/
}
li:nth-child(2) > a{
    transform:          skewY(-50deg) rotate(-25deg);
    -webkit-transform:  skewY(-50deg) rotate(-25deg);
    -moz-transform:     skewY(-50deg) rotate(-25deg);
    -ms-transform:      skewY(-50deg) rotate(-25deg);
    -o-transform:       skewY(-50deg) rotate(-25deg);
    left: 64.70588235294118%;/*110/170*/
}
li:nth-child(3) > a{
    transform:          skewY(-50deg) rotate(-15deg);
    -webkit-transform:  skewY(-50deg) rotate(-15deg);
    -moz-transform:     skewY(-50deg) rotate(-15deg);
    -ms-transform:      skewY(-50deg) rotate(-15deg);
    -o-transform:       skewY(-50deg) rotate(-15deg);
    left: 67.64705882352941%;/*115/170*/
}
li:nth-child(4) > a{
    transform:          skewY(-50deg) rotate(-15deg);
    -webkit-transform:  skewY(-50deg) rotate(-15deg);
    -moz-transform:     skewY(-50deg) rotate(-15deg);
    -ms-transform:      skewY(-50deg) rotate(-15deg);
    -o-transform:       skewY(-50deg) rotate(-15deg);
    left: 67.64705882352941%;/*115/170*/
}
/*----------------------------------------falling girl's elements---------------------------------------*/

.back{
    background-color: rgba(196, 196, 196, 1);
    width: 900px;
    height: 2270px;
    padding: 0 50px 0 50px;
}
.end{
    background: transparent url("end.svg") no-repeat 0;
    width: 1000px;
    height: 900px;
}
.girl{
    background: transparent url("girl.svg") no-repeat -215px;
    position: fixed;
    top: 300px;
    left: 555px;
    height: 300px;
    width: 160px;
    z-index: 5;
}
.stufffar{
    background: transparent url("jar.svg") no-repeat;
    position: absolute;
    top: 280px;
    left: 132px;
    width: 1000px;
    height: 2000px;
    content: "";
    z-index: 5;
    -webkit-transition: top 10s ease-out;
    -moz-transition: top 10s ease-out;
    -ms-transition: top 10s ease-out;
    -o-transition: top 10s ease-out;
    transition: top 10s ease-out;
}
.stuffclose{
    background: transparent url("jar1.svg") no-repeat;
    position: absolute;
    top: 280px;
    left: 132px;
    width: 1000px;
    height: 2000px;
    content: "";
    z-index: 6;
    -webkit-transition: top 7s ease-out;
    -moz-transition: top 7s ease-out;
    -ms-transition: top 7s ease-out;
    -o-transition: top 7s ease-out;
    transition: top 7s ease-out;
}
/*--------------------------------flow down---------------------------------------------------------------------------*/
#switchdown[type=radio]:checked + label, #switchdown[type=radio]:checked ~ div.panelwrap{
    top: -2585px;
}
#switchdown[type=radio]:checked ~ #switchup[type=radio] + label{
    top: 150px;
}
#switchdown[type=radio]:checked ~ div.stufffar{
    top: -1950px;
}
#switchdown[type=radio]:checked ~ div.stuffclose{
    top: -2300px;
}
#switchdown[type=radio]:checked ~ div.girl{
    background: transparent url("girl.svg") no-repeat 0;
}
/*-----------------------------flow up-------------------------------------------------------------------------------*/
#switchup[type=radio]:checked ~ #switchdown[type=radio] + label, #switchup[type=radio]:checked ~ div.panelwrap{
    top: 0;
}
#switchup[type=radio]:checked + label{
    top: 2760px;
}
#switchup[type=radio]:checked ~ div.stufffar{
    top: 230px;
}
#switchup[type=radio]:checked ~ div.stuffclose{
    top: 230px;
}


